name: test

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'rollup.config.mjs'
      - 'src/**'
      - 'n-voice/**'
      - '.github/workflows/test.yml'
  push:
    branches:
      - 'main'
    tags-ignore:
      - '**'
    paths:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'rollup.config.mjs'
      - 'src/**'
      - 'n-voice/**'
      - '.github/workflows/test.yml'
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-2022
    steps:
    - uses: n-air-app/action-cached-lfs-checkout@6def4ea51ae9d33a76cdde8af51210625123d96e # hash-pinning対応版

    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '18'
        cache: 'npm'

    - name: Install
      run: npm install

    - name: build test (for Syntax check)
      run: |
        npm run build
